.axis {
  stroke: #000;
  stroke-width: 1.5px;
}

.node circle {
  stroke: #000;
  /*fill: Lavender;*/
}

.link {
  fill: none;
  stroke: #999;
  stroke-width: 1.5px;
  stroke-opacity: .3;
}

.link.active {
  stroke: DeepSkyBlue;
  stroke-width: 2px;
  stroke-opacity: 1;
  -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein .5s; /* Firefox < 16 */
      -ms-animation: fadein .5s; /* Internet Explorer */
       -o-animation: fadein .5s; /* Opera < 12.1 */
          animation: fadein .5s;
}

@keyframes fadein {
    from { stroke-opacity: .3; }
    to   { stroke-opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { stroke-opacity: .3; }
    to   { stroke-opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { stroke-opacity: .3; }
    to   { stroke-opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { stroke-opacity: .3; }
    to   { stroke-opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
   from { stroke-opacity: .3; }
    to   { stroke-opacity: 1; }
}

.node circle.active {
  stroke: red;
  stroke-width: 3px;
}

.node circle.packetLoss{
  fill: red;
  stroke: red;
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite; 
  opacity: 0.0
  stroke-opacity:0.0;
  stroke-width:7px;
}

.node circle.congestion{
  fill: orange;
  stroke: orange;
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite; 
  opacity: 0.0
  stroke-opacity:0.0;
  stroke-width:7px;
}

@-webkit-keyframes pulsate {
    0% {stroke-opacity: 0.3;}
    50% {stroke-opacity: 1.0;}
    100% {stroke-opacity: 0.3;}
}

div.tooltip {
  /*width:100px;
  word-wrap: break-word;*/
  position: absolute;     
  text-align: center;
  line-height: 1;            
  padding: 12px 12px 12px 12px;       
  font-size: 14px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

#infobox {
  max-width:150px;
  word-wrap: break-word;
  position: absolute;     
  text-align: left;
  line-height: 1;            
  padding: 12px 12px 12px 12px;       
  font-size: 14px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

#bodytext{
  line-height: 1;
  font-size: 13px;
}

#title{
  line-height: 1;
  font-weight: bold;
}

#ref{
  font-size: 10px;
  color: "grey";
}